*
!.bash_profile
!.bashrc
!.config/base16-gnome-terminal
!.config/base16-shell
!.config/base16-xfce4-terminal
!.config/base16-xresources
!.config/terminator/config
!.emacs
!.ghci
!.gitconfig
!.gitignore
!.gitmodules
!.haskeline
!.inputrc
!.ocamlinit
!.orpierc
!.spacemacs
!.tmux.conf
!.toprc
!.vim/bundle/Vundle.vim
!.vim/bundle/gruvbox
!.vimrc
!.xbindkeysrc
!.yaourtrc
!LICENSE.md
!README.md
!bin/sweep
!bin/watcher
!./lein/profiles.clj
