[submodule "/home/rjs/.config/base16-gnome-terminal"]
	path = .config/base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
[submodule "/home/rjs/.config/base16-xfce4-terminal"]
	path = .config/base16-xfce4-terminal
	url = git@github.com:chriskempson/base16-xfce4-terminal.git
[submodule "/home/rjs/.config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "/home/rjs/.config/base16-xresources"]
	path = .config/base16-xresources
	url = git@github.com:chriskempson/base16-xresources.git
[submodule "/home/rjs/.vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "/home/rjs/.vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
