[include]
  path = /home/rjs/.gitcreds
[push]
	default = simple
[alias]
  a       = add
  b       = branch
  c       = commit
  d       = diff
  l       = log --oneline
  s       = status --short --branch
  co      = checkout
  mt      = mergetool
  cost    = "!f() { git diff --stat --oneline "$1" | tail -1 | awk '{print $6-$4}'; }; f"
  jump    = "!f() { git stash; git checkout "$1"; git stash drop; }; f"
  slap    = stash apply
  fresh   = "!f() { repo=${1:-master}; git checkout "$repo" && git pull origin "$repo"; }; f"
  spill   = "!git stash && git stash drop"
  squish  = "!git commit -a --fixup HEAD && git rebase -i --autosquash HEAD~2"
	commend = commit --amend --no-edit
  started = "!git init && git commit -m "root" --allow-empty"
[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Ryan James Spencer
	email = rspencer@freelancer.com
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool]
  prompt = false
[merge]
  tool = Kaleidoscope
