[user]
	email = rspencer@freelancer.com
	name = Ryan Spencer
[push]
	default = simple
[alias]
	commend = commit --amend --no-edit
  s = status --short --branch
  l = log --oneline
  new = '!git init && git commit -m "root" --allow-empty'
