!.bash_profile
!.bashrc
!.config/terminator/config
!.emacs
!.ghci
!.gitconfig
!.gitignore
!.gitmodules
!.haskeline
!.inputrc
!.ocamlinit
!.orpierc
!.spacemacs
!.tmux.conf
!.toprc
!.vimrc
!.xbindkeysrc
!.yaourtrc
!LICENSE.md
!README.md
